# Instalar dependencias de Python

# Librerías necesarias para el análisis y visualización de datos
matplotlib
numpy

# Librerías necesarias para el web scraping (league_scraping.py)
selenium
beautifulsoup4

